<footer id="footer">
    <div id="footer-info">
      &copy; <%= date(new Date(), 'YYYY') %> - <%= config.title %> - <%= config.subtitle %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a> & Hexokylin
    </div>
</footer>