<div id="header">
  <header>
    <a class="expand-btn"><i class="fa fa-lg fa-bars"></i></a>
    <h1><a href="<%- config.root %>"><%= config.title %></a></h1>
  </header>
  <div id="sidebar-mask"></div>
</div>

